/*  your css code here. If applicable */
/* styles.css */

body {
  font-family: 'Arial', sans-serif;
  margin: 20px;
}

h1 {
  color: #3498db;
}

p {
  margin-top: 10px;
}

ol, ul {
  margin-top: 10px;
}

li {
  margin-bottom: 5px;
}
